@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1rnb32');
  src:  url('fonts/icomoon.eot?1rnb32#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1rnb32') format('truetype'),
    url('fonts/icomoon.woff?1rnb32') format('woff'),
    url('fonts/icomoon.svg?1rnb32#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-check-in:before {
  content: "\e902";
}
.icon-check-out:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e904";
}
.icon-down-arrow:before {
  content: "\e905";
}
.icon-heating:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-mobile:before {
  content: "\e909";
}
.icon-parking:before {
  content: "\e90a";
}
.icon-travelers:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
